/* 1.웹폰트 선언 (CSS파일은 스타일태그없이 그냥 문법사용)*/ 

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


/* 2.디자인 시작시 기본 선언 */
    *{
      padding: 0;
     margin: 0;
     box-sizing: border-box; 
    }


    body, html{
        font-family: 'Noto Sans KR', sans-serif;/* 웹폰트적용 */

        width:100%;
        min-width: 320px;
    }

    img{
        max-width: 100%; /* 사이즈가 변했을 때 넓이 유지 */
        height: auto; /* 넓이에 따라서 높이가 변함 */
    }

    input, textarea, button, select{ /* 기본적인 태그들이 가지고있는 디자인을 제거 */
        -webkit-appearance: none; /*크롬,사파리*/ /* 브라우저별로 고유하게 적용되는 form관련 요소들의 css제거 */
        -moz-appearance: none; /*파이어폭스*/
        -o-appearance: none;
    }

    ul,li,dl,ol{
        list-style: none;
    }

    /* 버튼과 input태그의 윤곽변경 */
    .btn{border-radius:0px;}
    .form-control{border-radius: 0px;}

    /* ==============헤더============== */
    .header_col1{
        background-color: #eee;
        overflow: hidden;
        height:52px;
        line-height: 52px;
    }

    .top_width > ul > li.on{ /* 선택자를 붙여서 사용하게되면 li태그안에 클래스이름이 on인것을 의미 */
        
        border-top: 1px solid #d2d0d0;
        line-height: 42px;
        border-left: 1px solid #d2d0d0;
        border-right: 1px solid #d2d0d0;
        border-bottom: 1px solid #fff;
        background: #fff;
        font-weight: 500;

        border-bottom: 5px solid #037fc3;
    }

    .top_width> ul > li {
        display: inline-block;
        width:135px;
        text-align: center;
        font-weight: 700;
    }

    .top_width > ul > li >a{
        text-decoration: none;
        font-size:14px;
        color:#666;
    }

    .top_width{overflow: hidden; width:1240px; margin:0 auto;}
    .fl_left{float:left;}
    .fl_right{float:right;}

    .fl_right > a{  
        background-color: #fff;
        color: #666;
        text-decoration: none;
        padding:7px;
        border:1px solid #d2d2d2;
    }

   /* =========아래쪽 헤더========== */ 
   .top_hide{display:none;}

   .logo{float:left;}
   .top_menu{float:left; margin-left:30px;}
   
   .logo > a{
       background-image: url("../img/logo.png");
       background-repeat: no-repeat;
       background-size: contain; /* 이미지크기와 a태그의 크기가같으면 굳이 선언안해줘도 무관 */
       display: inline-block;
       width:200px;
       height:33px;
       margin:23px 0 0 ; /* 세개적으면  위, 좌우, 아래 */
   }

   .top_menu > ul > li {display: inline-block;}

   .top_menu > ul > li > a{
       /* a태그에 넓이를  설정해주는 이유는 마우스클릭이 가능하도록 하기위해서*/
        display: block;
        height:80px;
        line-height: 80px;
        padding: 0px 5px;
        margin: 0px 10px;
        font-size: 18px;
        font-weight: 500;
        color: #333;
        text-decoration:none;
     }

     .top_menu > ul > li > a:hover{color:#39f;}

    /* =========헤더2디자인=========== */

     .navbar{
         margin:0px;
     }

    .custom_header{
        background-color:#263238 ;
        position: fixed;
        top: 0px;
        left: 0px;
        width:100%;
        z-index: 50;
    }
    
    .custom_header nav a{
        color:#fff;
    }
    .navbar-brand{padding: 10px 15px; }
    /* 마우스 호버, 포커스시 백그라운드 색상변경 */
    .custom_header .nav > li > a:hover,
    .custom_header .nav > li > a:focus{
        background-color: #304047;
    }

    /* 모바일환경에서 메뉴윤곽색 */
    .custom_header .navbar-toggle,
    .custom_header .navbar-toggle .icon-bar{
        color:#fff;
        border: 1px solid #fff;
    }

    /* 드롭다운메뉴 색상변경 */
    .dropdown-menu > li > a {
        color: #333;
    }

    @media(max-width: 767px){
        .dropdown-menu > li > a{
            color:#eee;
        }
    }


    /* =======footer========= */
    footer{
        background-color: #263238;
        color: #eee;
        padding: 40px 0;
    }

    footer .copyright{
        font-size: 14px;
        font-weight: 500;
        margin-right: 100px;
    }

    footer .footer_menu > li{
        display: inline-block;
    }

    footer .footer_menu > li > a{
        display: block;
        padding:0 8px;
        color: #eee;
    }

    /* =============슬라이더영역============== */
    .slide-list{
        padding: 0;
        margin-top: 50px;
    }

    .carousel-control.right,
    .carousel-control.left{
        background-image: linear-gradient(to right, rgba(0, 0, 0, .0000) 0%, rgba(0, 0, 0, .0) 100%); /*주석처리하면 화살표에 올릴때 음영생김*/
    }

    /* ============메인 상품 리스트============ */
    .prod-wrap,.prod-inner{       
        padding: 5px;
    }

    .prod-inner > a {
        display: block;
        text-align: center;
        position: relative;
    }

    .prod-wrap, .prod-inner > a{
        border:1px solid #d2d2d2;
    }

    .prod-inner > a > .arrow{
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background-color: #ccc;
        color: #fff;
        position: absolute; /* 부모영역에 relative */
        left: 20px; 
        bottom: 20px;
    }

    .prod-inner > a > .hover{
        width:100px;
        background-color: #037fc3;
        opacity: 0; /* 0이면 투명, 1이면 기본 */
    }
    
    .prod-inner > a:hover > .arrow{
        opacity: 0;
    }

    .prod-inner > a:hover > .hover{
        opacity: 1;
    }

    .prod-inner > a:hover{
        border: 1px solid #037fc3;
    }

   /* =========블로그=========== */ 
   @media(min-width:1200px){
    .blog-style > li[class*="col-lg-2"]{
        width:20%;
        
    }
   }

   
  
    .blog-wrap{
        margin-top:30px;
        border: 1px solid #d2d2d2;
        position: relative;
    }   

    .blog-wrap > .blog-content{
        padding:20px 12px 15px;
    }

    .blog-wrap > .blog-content > p{
        font-size: 15px;
        font-weight: bold;
        min-height: 110px;
        
    }

    .blog-info{
        overflow: hidden;
    }

    .blog-info > ul {
        float:left;
    }

    .blog-info > ul > li {
        display: inline-block;
        color: #fdcc11;
    }

    .blog-info > strong {
        float : right;
        font-size: 15px;
        font-weight: bold;
    }

    .blog-wrap > .blog-img {
        text-align: center;
    }

    .blog-content-hover{
        background-color: rgba(0,0,0,.8);
        position: absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        padding:20px;
        opacity: 0; /* 투명도 0 */
    }

    .blog-content-hover > a{
        display: block;
        color:white;
        font-size: 15px;
        font-weight: bold;
        width:100%;
        height:100%;
    }

    /* 호버 */
    .blog-wrap:hover > .blog-content-hover{
        opacity: 1;
    }